.content-block {
    padding: 20px;
    margin: 10px;
    max-width: 450px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    border: rgba(88, 84, 153, 0.5) 2px solid;

    h3 {
        color: rgba(0, 123, 255, .6);
        font-family: Colus-Regular;
        font-weight: 700;
        font-size: 1.5em;
    }
    .content-block-body{
        display: flex;

        p {
            padding-right: 10px;
            align-self: center;
            font-family: Berton-Roman-trial;
            font-weight: 400;
            font-size: 17px;
        }

    }
}