.content-block{
    padding: 20px;
    margin: 10px;
    max-width: 500px;
    max-height: 400px;
    display: flex;
    border: rgba(88, 84, 153, 0.5) 2px solid;

    div {
        padding-right: 15px;
        max-width: 300px;
    }
}